body{
  font-family: monospace, "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.45em;
  color: #59B75C;
  background-color: #292c36;
}
div.content {
  text-align: center;
}
div.content h2 a{
  color: #8485BC;
}
